<p>フォロー数</p>
<%= link_to user_followings_path(user.id) do %>
  <%= user.followings.count %>
<% end %>
<p>フォロワー数</p>
<%= link_to user_followers_path(user.id) do %>
  <%= user.followers.count %>
<% end %>